:root{
    --buttonGreen: #09ad09;
    --textColor: #707070;
       
}


body {
    color: var(--textColor);
    font-family: 'Helvetica Neue', sans-serif;
}

p{
    
    font-size: 56px;
    font-weight:500;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header{
    background-color: #FCE8E8;
    box-shadow: 0 0 32px 0 rgb(0 0 0 / 16%);
    height: 10vh;
    margin-bottom: 50px;
    color: #A25A5A;
}


.controls{
    /* border: 2px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    /* width: 100%; */
    padding: 30px;
    /* margin-bottom: 50px; */
}

.btn { 
   
    color: #ffff;
    cursor: pointer;
}

.btn--green {
    background-color: var(--buttonGreen);
}

.btn--circle {
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50%;
}

.btn--text {
    font-size: 25px;
}

.controls__message {
    max-width: 50%;
}

.controls__message__p {
    color: var(--textColor);
    font-size: 40px;
}

.card-stage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    /* height: 200px; */
    box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.23);
    border-radius: 8px;
    padding: 55px 65px;
}

.card-stage__message {
    font-size: 35px;
}




.cue-container{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    display: flex;
    /* background-color: pink; */
    width: 100%;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
   
}





